/*Style little bit*/
* {
    box-sizing: border-box;
}

#nav-list > li {
    text-align: center;
    
}
#text > h3 {
    margin-bottom: 15px;
}
#header-nav .navbar-brand {
    position: absolute;
    left: 10px;
}

#header-nav .navbar-brand {
    position: absolute;
    left: 10px;
}

div section {
    margin: 10px;
    padding: 10px;
}
#section-1{
    background-color: #0000FF;
}

#section-2 {
    background-color:#00FF00;
}

#section-3 {
    background-color: #FA8072;
}
